@model IEnumerable<AL_IRSHAAD_MAGAMENT_SYSTEM.Models.Student_Transfer>

@{
    ViewData["Title"] = "Index";
    Layout = "Admin_Layout";
}
}

<h1>Student Transfer </h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Create New</a>
</p>
<table class="table table-success table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminPermition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminPermition)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-outline-primary">Edit</a> |

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
